/* 'DDC-FB (Disconnect-Facebook - Gagovernment)
(Display, Dimension, Color, Font, Borders, Governing) 
Governing: Specificity, Inheritance, Rule Order */

/* TODO:CHECK ON CSS MEDIA QUERIES FYI */
body {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    background-color: beige;

}
h1, div.settings {
    display: block;
    margin: 10px auto;
    text-align: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

div.main-container {
    
    display: flex;
    margin: 10px auto;
    height: 500px;
    width: 500px;
    border: 11px solid rgb(161, 57, 57);
    padding: 4px;
    flex-wrap:wrap;
}


